.container{
    background-color: #ccc;
    width: 100%;
    height: auto;
    float: left;

}

.header{
    background-color: #ccc;
    width: 100%;
    height: auto;
    float: left;

}

.navbar{
    background-color: #999;
    width: 100%;
    height: 50px;
    float: left;

}

.content{
    background-color: rgb(139, 203, 255);
    width: 100%;
    height: 500px;
    float: left;

}

.produto1{
    background-color: rgb(139, 203, 255);
    width: 50%;
    height: 1000px;
    float: left;

}

.produto2{
    background-color: #ccc;
    width: 50%;
    height: 1000px;
    float: left;

}

.carrinho{
    background-color: rgb(139, 203, 255);
    width: 100%;
    height: auto;
    float: left;
}

.footer{
    background-color: #999;
    width: 100%;
    height: 50px;
    float: left;

}

.btn{
    background-color: #ffffff;
    width: 120px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header, .navbar, .content, .content2, .footer, .produto1, .produto2 {
      width: 100%;
    }

    .header img{
        width: 50%;
    }
  }